@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome and Change Me!sssasdd</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <h3>@DateTime.Now.ToString("HH:mm:ss")</h3> 
    </div>
