@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome to ASP.NET Core</h1>

        <h5 style="color: steelblue">@ViewBag.Message</h5>

        <h2>Time is: @DateTime.Now.ToString("HH:mm:ss")</h2>

        <div class="mt-4">
            <a href="~/test.html">Static Test Page</a>
        </div>
        <div class="mt-4">
            <a href="~/home/privacy">Privacy Page</a>
        </div>

    </div>

<hr />

<small>To demonstrate Live Reloading on this page edit <code>Views/Home/Index.cshtml</code></small>
<br />
<small>You can also edit <code>wwwroot/css/site.css</code> to live reload style changes</small>
