@page

<html>
   <head>        
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/application.css" rel="stylesheet" />
    <style>
        .bigger { font-size: 1.2em }
    </style>
    </head>
<body>
<div class="container mt-4" >

<h1>Hello from Razor!</h1>

<p class="bigger">Time is: @DateTime.Now.ToString("hh:mm:ss tt")</p>

<hr>

<h2>Dynamically loaded Assembly and Type access:</h2>

<div class="alert alert-info">
    <i class="fas fa-info-circle" style="font-size: 2em; display: block; margin: 10px 10px 40px 0;float: left;"></i>
    The following adds a reference to the Westwind.AspNetCore.Markdown and Markdig packages
    and uses them to parse Markdown to HTML. These assemblies are loaded in a `./privateBin`
    folder and loaded from there and then become accessible in code.
</div>

<h3 style="margin-top: 2em;">Markdown (as HTML text):</h3>
<div class="bigger">
    <pre>@Markdig.Markdown.ToHtml("This is some **bold** Markdown text rendered into an `HTML` string.",null)</pre>
</div>
<hr>

<h3>Markdown (rendered):</h3>

<div class="bigger">
    @Html.Raw(Westwind.AspNetCore.Markdown.Markdown.Parse("This is some **bold** Markdown text rendered into an `HTML` string."))
</div>


 <div class="mt-4">
    <a href="/"> <i class="fas fa-home"></i> Home Page</a>
</div>
</div>
</body>
</html>