@page

<html>
   <head>        
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/application.css" rel="stylesheet" />
    <style>
        .bigger { font-size: 1.2em }
    </style>
    </head>
<body>
<div class="container mt-4" >

<h1>Markdown Monster Version Download</h1>

<p class="bigger">Server Time is: @DateTime.Now.ToString("hh:mm:ss tt")</p>

<hr >
<div class="alert alert-info">
    <i class="fas fa-info-circle" style="font-size: 2em; display: block; margin: 10px 10px 40px 0;float: left;"></i>
    The following example uses Razor server side code to download a version file
    from the Markdown Monster web site for display here. The code parses out the
    version and detail information and displays it here using C# Razor code.
</div>

@{
    var client = new System.Net.WebClient();
    var xml = await client.DownloadStringTaskAsync("https://west-wind.com/files/MarkdownMonster_version.xml");
	    
    var start = xml.IndexOf("<Version>") + 9;        
    var end = xml.LastIndexOf("</Version>");
    var version = xml.Substring(start, end - start);
    start = xml.IndexOf("<Detail>") + 8;        
    end = xml.LastIndexOf("</Detail>");
    var detail = xml.Substring(start, end - start);
}


<div class="clearfix mt-4">


<a href="https://markdownmonster.west-wind.com" 
   style="display: block; float:left; margin-right: 30px; margin-bottom: 8em;">
    <img  src="https://markdownmonster.west-wind.com/Images/MarkdownMonster_Icon_256.png" style="height: 80px;">
</a>

<h3>Latest Markdown Monster Version</h3>
 
<p class="bigger">
    <b>@version</b>
</p>

<h3>Release Notes</h3>
<p>
@detail    
</p>

</div>

<a href="https://markdownmonster.west-wind.com"><img src="https://markdownmonster.west-wind.com/Images/screenshot.png" class="mt-4" /></a>



<div class="mt-4">
    <a href="/"> <i class="fas fa-home"></i> Home Page</a>
</div>

</div>
</body>
</html>