@page

<html>
   <head>        
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/application.css" rel="stylesheet" />
    <style>
        .bigger { font-size: 1.2em }
    </style>
    </head>
<body>
<div class="container mt-4" >

<h1>Markdown Monster Version Download </h1>
 
<div class="alert alert-info">
    <i class="fas fa-info-circle" style="font-size: 2em; display: block; margin: 10px 10px 40px 0;float: left;"></i>
    The following example uses Razor server side code to download a version file
    from the Markdown Monster web site for display here. The code parses out the
    version and detail information and displays it here using C# Razor code.
</div>

@{
    var client = new System.Net.WebClient();
    var xml = await client.DownloadStringTaskAsync("https://west-wind.com/files/MarkdownMonster_version.xml");
	    
    var start = xml.IndexOf("<Version>") + 9;        
    var end = xml.LastIndexOf("</Version>");
    var version = xml.Substring(start, end - start);
    start = xml.IndexOf("<Detail>") + 8;        
    end = xml.LastIndexOf("</Detail>");
    var detail = xml.Substring(start, end - start);
}



<h3 style="clear: both; margin-top: 2em">Latest Markdown Monster Version</h3>
<p class="bigger ">
    <b class="text-danger">@version</b>
</p>

<h3>Version Detail</h3>
<p>
@detail    
</p>



</div>
</body>
</html>