@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="mt-4">
    <a href="~/test.html">Static Test Page</a>
</div>
<div class="mt-4">
    <a href="~/home/index">Home Page</a>
</div>


<hr />

<small>To demonstrate Live Reloading on this page edit <code>Views/Home/Privacy.cshtml</code></small>
<br />
<small>You can also edit <code>wwwroot/css/site.css</code> to live reload style changes</small>
