<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\LiveReloadServer.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNET_ENVIRONMENT" value="Production" />
          <environmentVariable name="LIVERELOADSERVER_WEBROOT" value="C:\WebConnectionProjects\Vue\web" />
          <environmentVariable name="LIVERELOADSERVER_RazorEnabled" value="True" />
          <environmentVariable name="LIVERELOADSERVER_LIVERELOADENABLED"  value="True" />
        </environmentVariables>
      </aspNetCore>

    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 3409CB5D-77AE-4867-9135-A3DE2A134C4D-->