@page
@using System.Threading

@{
    ViewData["Title"] = "Slow-loading page";
    Thread.Sleep(1000);
}
<h1>@ViewData["Title"]</h1>
<p>This page takes a second to load. This is to test that when navigating to this page, the socket connection doesn't close and prompt a reload on certain browsers.</p>

<div class="mt-4">
    <a href="~/home/index">Home Page asadasd</a>
</div>


<hr />

<small>To demonstrate Live Reloading on this page edit <code>Pages/SlowPage.cshtml</code></small>
<br />
<small>You can also edit <code>wwwroot/css/site.css</code> to live reload style changes</small>
